table,
td,
th {
  /* 단어기준으로 word-wrap */
  word-break: keep-all;
  word-wrap: normal;
  /* ----- */
  min-width: 100px;
}
th {
  background-color: #f4f4f4;
  text-align: center;
}
.table_title {
  font-weight: bold;
  font-size: 20px;
  margin: 5px;
}
/* ---------------------------- */
.search-table,
.order-list-table {
  margin: 10px 0;
}
.search-table th {
  border-bottom: 1px solid #c8c8c8;
}
.search-table tr:first-child > th {
  border-top: 1px solid #c8c8c8;
}
.search-table td {
  padding: 5px 0 5px 5px;
  border-bottom: 1px solid #c8c8c8;
  border-left: 1px solid #c8c8c8;
  width: 100%;
}
.search-table tr:first-child > td {
  border-top: 1px solid #c8c8c8;
}

.search-button {
  font-size: 30px;
  color: white;
  background-color: rgb(255, 208, 0);
  height: 44px;
  width: 140px;
  border-radius: 10px;
  position: relative;
  left: 30%;
  border: none;
}
.search-button:hover {
  background: rgb(202, 137, 15);
}
.order-list-table {
  width: 100%;
}
.order-list-table td {
  text-align: center;
}
.order-list-table > thead > tr .order-list-table > tbody > tr {
  width: 100%;
}
.order-list-table > thead > tr > th {
  border-bottom: 1px solid #c8c8c8;
}
.order-list-table > tbody td {
  border-bottom: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  padding: 5px 5px;
}
.table_sum {
  display: flex;
}
