/* -----------------  완 료 ---------------------------------------- */

.header{
    height: 100px;
    background:#aae0f5;
    width: 100%;
}
.header-container{
        width: 1200px;
        height: 100%;
        position: relative;
    }

    .header-container>h1{
        background: url(../image/logo.png) no-repeat left center;
        background-size: contain;
        height: 100%;
        width: 400px;
        display: inline-block;
        text-indent: -999px;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
   
    .header-container .gc-form{
        border: 5px solid #8cba34;
        display: inline-block;
        position: absolute;
        left: 500px;
        top: 40px;
    }
        .header-container .gc-form label{
            font-family: "맑은 고딕","고딕",Arial, Helvetica, sans-serif;
            font-size: 12px;
            color: black;
        }

        .header-container .gc-form input[type="text"]{
            border: none;
            outline: none;
        }
        .header-container .gc-form .find-button{
            background: url(../image/btn-find.png) no-repeat center;
            width: 31px;
            height: 25px;
        }

    .member-menu{
        display: inline-block;
        font-family: "맑은 고딕","고딕",Arial, Helvetica, sans-serif;
        font-weight: bold;
        color:#00000070;
        font-size: 15px;
        position: absolute;
        right: 10px;
        top: 40px;
    }
    .member-menu .member-menu-list{
        display: flex;
    }
       
        .member-menu ul li{
            padding-left: 12px;
            background: url(../image/bg-main-menu-vsp.png) no-repeat  6px center;
            }

            .member-menu ul li:first-child{
                padding-left: initial;
                background: none;
            }

            .member-menu .member-menu-list li a:hover{
                color: yellow;
                text-decoration: none;
            }

     .shortcut-menu{
         display: inline-block;
         position: absolute;
         right: 10px;
         bottom: 10px;
        }       
        
        .shortcut-menu .shortcut-menu-list{
            display: flex;
            font-size: 0px;

        }
        .shortcut-menu .shortcut-menu-list .mypage-button{
            background: url(../image/txt-mypage.png) no-repeat center;
            width: 72px;
            height: 17px;
        }
        .shortcut-menu .shortcut-menu-list .customer-button{
            background: url(../image/txt-customer.png) no-repeat center;
            width: 72px;
            height: 17px;
        }
        
/*---- ------------------------------------------ */
.main{ /* conainer + aside*/
    min-height: 500px;
    display: flex; /*약관동의 오른쪽에 넣는다면*/

}
    .main>.main-container{
        width:700px;
        height: 100%;
        display: flex;  /*정렬위한 flex*/
        flex-direction: column;
        flex: 1 0 auto;
        justify-content: center; /*main 중앙정렬*/
        align-items: center;     /*main 중앙정렬*/ 
        padding-bottom: 30px; /*메인과 푸터 간격주기*/
        position: relative;
    }
        .main-container h1{  /*제목 필수정보 */
            font-size: 30px; 
        }
        .main>.main-container>.main-contant table{ /* 정보 입력*/
            border-top: 2px solid#979797;
            width: 100%;
            border-spacing : 0px 15px; /*테이블간격(가로세로)*/
            
        }
        .main-contant>table th,
        .main-contant>table td{ /*연한 밑줄*/
            border-bottom: 1px solid #e9e9e9;
            }

        .signin-button-menu{
            position: absolute;
            right: 250px;
            bottom: 0px;
        }

        .signin-button-menu .be-button{
            background: url(../image/btn-prev.png) no-repeat center;
            width: 15px;
            height: 23px;
            
        }

        .signin-button-menu .signin-button { /*가입완료 버튼*/
            background: url(../image/btn-reg.png) no-repeat center;
            width: 71px;
            height: 23px;
           
        }

      

    .main>.right-aside{   /*약관동의*/
        border: 1px solid black; 
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        background: gray;
    }
        .right-aside>h1{  
          font-size:30px;   
        }

.footer{
    height: 100px;
    background:#00000030;
}